.close-thik{
    color: #fff;
    font-size : 8px;
    position: absolute;
    right: -3px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: -8px;
    border-radius: 50%;
    ::after{
        content: '✖'; /* UTF-8 symbol */
    }
    
    
    
}
.close-thik:hover{
    cursor: pointer;
    background-color:burlywood;
    
    
}